programming/Java Web/Spring MVC I/casadocodigo/.settings/
*.iml
software development/design patterns/design-patterns/.idea/
software development/design patterns/design-patterns/out/
front-end/java-script/aparecida-nutricao/prepros-6.config
software development/tdd-android/tdd-android-parte-2-projeto-inicial/.idea/
software development/tdd-android/android-testes-mock-arquivos-iniciais/Leilao/.idea/
